footer {
    background-color: #1b1929;
    padding: 30px 10px;
}

.footer-icons a img {
    width: 15px;
    height: 15px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 30px;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer-icons {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    color: white;
    margin: auto;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 1024px){
    .footer-links {
        width: 90%;
    }
}