header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    background-color: white;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    position: fixed;
    z-index: 1;
}

.logo{
    width: 40%;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #151515;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.active {
    border-bottom: 2px solid #6689ff;
}

nav img {
    width: 25px;
    height: 25px;
    margin-right: 30px;
}

@media (max-width: 1024px){
    header {
        width: 98%;
    }
}