.main {
    background-image: url('https://livedemo00.template-help.com/wt_prod-20462/images/slider-1-slide-2-1770x742.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.main-txt {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: auto;
    padding-top: 15%;
    text-align: center;
}

.main-txt h1 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 30px;
}

.main-txt p {
    font-size: 14px;
    width: 60%;
    line-height: 25px;
    font-weight: 500;
    color: #151515;
    margin-bottom: 20px;
}

.blue-btn, .transparent-btn {
    background-color: #6689FF;
    border: none;
    width: 200px;
    height: 50px;
    padding: 1%;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:1024px){
    .main-txt {
        display: none;
    }
}