.section-4 {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.h1-center {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-4 p {
    text-align: center;
    width: 38%;
    margin-bottom: 30px;
}

.project-categ {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.project-categ a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    letter-spacing: 1px;
    font-weight: 500;
}

.project-categ a::after {
    content: '    | ';
    color: rgb(202, 201, 201);
    font-weight: 100;
    margin-left: 10px;
}

.project-categ .active-a {
    color: #6689FF;
}

.project-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project-item {
    width: 30%;
    margin-bottom: 20px;
}

@media (max-width: 1024px){
    .project-categ{
        width: 90%;
    }

    .project-item img {
        width: 100%;
    }
}