.section-3 {
    background-image: url('https://livedemo00.template-help.com/wt_prod-20462/images/parallax-1.jpg');
    height: 55vh;
    background-size: cover;
    padding: 10px;
    margin-bottom: 50px;
}

.section-3-txt {
    width: 50%;
    float: right;
    padding-top: 10%;
    text-align: right;
    margin-right: 100px;
}

.section-3-txt h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
}

.white {
    color: white;
    margin-bottom: 30px;
}

.transparent-btn {
    background-color: transparent;
    border: 2px solid white;
    margin-left: 10px ;
}

@media (max-width: 1024px){
    .section-3-txt {
        padding-top: 5%;
    }
}