.section-5 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    align-items: center;
}

.exp-1 {
    width: 70%;
    display: flex;
}

.exp-2 {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.exp-1 h1 {
    font-size: 400px;
    font-weight: 700;
    background: linear-gradient(-62deg, #45476f, #6689ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp-txt {
    width: 40%;
    margin-top: 50px;
}

.exp-txt h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    border-left: 5px solid #d4d4d4;
    padding-left: 20px;
}

.exp-txt p {
    font-size: 15px;
    color: #aaaaaa;
    line-height: 30px;
    font-weight: 500;
    margin: 30px 0;
}

.exp-data {
    width: 30%;
    padding: 20px;
}

.exp-data h1 {
    font-size: 100px;
}

.exp-data p {
    color: #9b9b9b;
}

.first {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.second {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

@media (max-width: 1024px){
    .section-5 {
        flex-wrap: wrap;
    }
}