.section-8 {
    margin-top: 100px;
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}

.learn-more {
    color: black;
    border: 3px solid black;
}

.section8-txt {
    width: 40%;
}

.section8-img {
    width: 40%;
}

.img-left {
    position: relative;
    width: 40%;
    margin-left: -60px;
    z-index: -1;
    opacity: 0.5;
    top: -20px;
}

.section8-txt p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 20px 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 3px solid #e1e1e1;
}

.tabs li {
    font-size: 30px;
    color: #333333;
}

@media (max-width: 1024px){
    .section8-txt {
        width: 45%;
    }
    .section8-img {
        width: 28%;
    }

    .img-right {
        width: 63%;
    }
    .img-left {
        width: 56%;
    }
}

