.section-7 {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.team-block {
    display: flex;
    justify-content: space-around;
    width: 95%;
    flex-wrap: wrap;
}

.team-item img {
    width: 300px;
    filter: grayscale(100%);
}

.team-item {
    position: relative;
}

.team-info {
    background-color: rgba(17, 17, 17, 0.5);
    /* transform: skew(6deg); */
    transform-origin: 50% 100%;
    z-index: 1;
    position: absolute;
    top: 200px;
    padding: 20px;
    padding-left: 40px;
}

.team-info h1 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.team-info p {
    color: white;
    font-size: 15px;
}

@media (max-width: 1024px){
    .team-item {
        width: 50%;
        margin-bottom: 10px;
    }
    .team-item img {
        width: 400px;
        margin: auto;
    }
}