.section-12{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
}

.section12-txt {
    width: 92%;
    display: flex;
    align-items: baseline;
}

.section12-txt p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    border-left: 2px solid #adadad;
    padding-left: 20px;
    line-height: 20px;
}

.section12-form {
    width: 95%;
}

.section12-form input {
    width: 29%;
    background-color: #efefef;
    border: none;
    padding: 20px;
    margin-left: 5px;
}

.section12-form textarea {
    background-color: #efefef;
    margin: 20px 5px;
    border: none;
    width: 97%;
}

@media (max-width: 1024px){
    .section12-form input {
        width: 27%;
    }
}

