.section-6 {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.clients {
    border: 1px solid #eeeeee;
}

.clients img {
    width: 80%;
}