.section-11{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
}

.post-item, .contact-item {
    width: 30%;
}

.post-img {
    position: relative;
}

.post-date {
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100px;
    color: #6689FF;
    font-size: 26px;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}

.post-txt {
    margin-top: 20px;
}

.post-txt h1 {
    font-weight: 500;
    font-size: 20px;
}

.post-txt p {
    margin: 20px 0;
    color: #9b9b9b;
    line-height: 25px;
    font-size: 15px;
}

.contact-item img {
    width: 60px;
    height: 60px;
}

.contact-item{
    margin-top: 50px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 80px 0;
}

.contact-item h1 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

@media (max-width: 1024px){
    .post-item {
        width: 50%;
    }
    .contact-item {
        width: 45%;
    }
}