.section-9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;
}

.review-item {
    width: 28%;
    background-color: #fff;
    padding: 20px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
}

.reviewer-info {
    display: flex;
    margin: 30px 0 ;
}

.review-item p {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
}

.reviewer-data {
    margin-left: 40px;
    margin-top: 20px;
}

@media (max-width: 1024px){
    .section-9 {
        margin-left: 0;
    }
    .review-item {
        width: 43%;
        margin-bottom: 20px;
    }
}