.section-2{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 50px;
}

.section2-card-item img {
    width: 40px;
    height: 40px;
}

.section2-card {
    display: flex;
    justify-content: space-around;
    width: 40%;
    flex-wrap: wrap;
}

.section2-card-item {
    width: 45%;
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.section2-card-item h1{
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
}

.p-center {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.section2-card-item h2  {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

@media (max-width:1024px){
    .section2-card {
        width: 59%;
    }
}