.section-10 {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
}

.price-block {
    width: 30%;
    background-color: #1b1929;
    color: white;
    border-radius: 10px;
}

.price-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px;
}

.price-1 h1 {
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0;
}

.price-1 p {
    font-size: 16px;
    letter-spacing: 2px;
}
.price-block ul {
    margin-left: 30px;
}

.price-block ul li::before {
    position: relative;
    display: inline-block;
    content: '\2713';
    left: 0;
    top: 0;
    width: 25px;
    font-size: 14px;
    font-family: "FontAwesome";
}

.price-block ul li {
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #494c51;
}

.price-block button {
    width: 100%;
    background-color: #494c51;
    border: none;
    height: 40px;
    color: white;
    margin-top: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.active-li::before {
    color: #6689FF;
}

.price-block ul .active-li {
    color: white;
}

.price-block .active-btn {
    background-color: #6689FF;
}

@media (max-width: 1024px){
    .price-block {
        width: 43%;
        margin-bottom: 20px;
    }
}